@font-face {
  font-family: "clubhouse";
  src: url("../assets/fonts/Monster\ Clubhouse.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppinsmedium";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
