$principal: #653653;
$secondary: #789179;
$white: #ffffff;
$dark: #000;
$textgrey: #425966;
$textred: #d84a4a;
$boxgray: #8395a7;
$grayrecipe: #bfc4cad1;
$whiterecipe: #e9f1fa;
$footerblueprimary: #c2e3f3;
$footerblue: #6aa3c1;
$footergrey: #a9a9a911;
